# Ignore virtual environment
myenv/

# Ignore generated images directory
generated_images/

archiver

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Django/Flask/General Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
